* {
  padding:0px;
  margin:0px;
  border: 0px solid black;
  float:left;
  font-family:Roboto, sans-serif;
  background-color:inherit;
  color:inherit;
  outline:0;
}

html {
  border:0px;
  height:100%;
  width: 100%;
}

.material-icons {
}

  .material-icons.backspace {
    font-size:20vh;
    margin-left:2.5vh;
  }

  body {
      border:0px;
      height:100%;
      width: 100%;
      background-color:white;
      color:gray;
      overflow:hidden;
  }
  
    #splash {
      height:100%;
      width:100%;
      position:absolute;
      text-align:center;
      z-index:10;
      display:block;
      color:gray;
      opacity:1;
    }
    
      #splashImage {
        position:relative;
        display:block;
        left:calc((100vw - 100vh) / 2);
        height:100%;
      }
      
      .splashButton {
        display:block;
        position:absolute;
        background-color:darkblue;
        box-shadow: 0px 5px 10px gray;
        top:75vh;
        left:40vw;
        height:15vh;
        width:40vh;
        font-size:10vh;
        border-radius:1vh;
      }
  
    #div1 {
      height:100%;
      width:100vh;
    }
    
      .button {
        height:20%;
        width: 25%;
        text-align: center;
        font-size:16vh;
        text-overflow:wrap;
        
        /*CSS to disable text-selection*/
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
      }
      
        .advFunction {
          height:calc(20% - 3vh);
          padding-top:3vh;
          font-size:4vh;
          width: 25%;
          text-align: center;
          text-overflow:wrap;

          /*CSS to disable text-selection*/
          -moz-user-select: -moz-none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          -o-user-select: none;
          user-select: none;
        }

      #equals {
        
        height:12vh;
        width:12vh;
        z-index:1;
        margin-left:94vh;
        margin-top: 84vh;
        border-radius:50%;
        background-color:gray;
        box-shadow: 0px 5px 50px black;
        
        position:absolute;
        text-align:center;
        font-size:10vh;
        color:white;
      }
      
    #div2 {
      height: 100%;
      width: calc(100vw - 100vh);
      background-color:darkblue;
      box-shadow: -10px 0 20px gray;
    }
      
            #output {
        height:calc(90% - 3px);
        width:calc(100vw - 100vh);
        border-bottom:1px solid gray;
        resize:none;
        
        text-align:right;
        font-size:4vh;
        color:gray;
      }
      
      #input {
        height:10%; 
        width:calc(100% - 27vh);
        padding-left:7vh;
        font-size: 3vh;
      }
      
      #reset {
        height:calc(10% - 2.5vh);
        width:20vh;
        padding-top:2.5vh;
        text-align:center;
        font-size:5vh;
      }
      
      #hamburger {
        height:calc(100vh - 10px);
        width:275px;
        min-width:25vh;
        padding:20px;
        position:absolute;
        z-index:1;
        background-color:white;
        box-shadow: 10px 0 20px gray;
        display:none;
        overflow:scroll;
      }
      
        #hamburgerIcon {
          margin-top:-20px;
          margin-left:-20px;
          height:20vh;
          width: 25vh;
          text-align: center;
          font-size:16vh;
          text-overflow:wrap;
        }
        
        .hamburgerButton {
          height:50px;
          width: calc(275px - 40px);
          font-size:25px;
          text-align:left;
        }
        
      #overlay {
        height:100%;
        width:calc(100vw - 315px);
        position:absolute;
        left:315px;
        z-index:1;
        opacity:0;
        background-color:orange;
        display:none;
      } 
      
      #bodyForNonKeypad {
        height:80vh;
        width:100%;
        overflow:scroll;
        padding:7vh;
        padding-top:0vh;
      }
      
        .versionNumber {
          width:100%;
        }
        
        .versionChanges {
          width:100%;
          padding-left:5vh;
        }

/*This commnent exists solely to prevent ACE's "..." bug*/
