body {
  background-color: darkblue;
}

button {
  width: 100%;
  height:100%;
  color: lightblue;
  background-color: darkblue;
  border-color: lightblue;
  font-size: 5vmin;
}

tr {
  height:10%;
}

td {
  width = 25%;
  height = 100%;
}

input {
  width: 100%;
  height:100%;
  color:lightblue;
  background-color: darkblue;
  border-color: lightblue;
  font-size: 48px;
}

col {
  width: 15%;
}
